@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*---Media Queries --*/
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}


.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.navbar-brand{
  font-weight: 600;
  font-size: 2rem;
}

.nav-link{
  font-size: 1.1rem;
}

.welcome-title{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 4vw;
}

.projects,.experience,.contact{
  min-height: 4rem;
  background: #5c5c5c; //5c5c5c
}

.majorheading{
  padding-top: 0.75rem;
  color: white;
  min-height: 6rem;
  font-size: 3rem;
  text-shadow: 5px 5px 0 black;
}

.projects-subheading{
  font-family: arial;
  font-size: 2rem;
}

.uni-logo {
  max-width: 60%;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.me-pic {
  max-width: 90%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #000000;
  box-shadow: 10px 15px 5px #ccc;
  margin-left: auto;
  margin-right: auto;
}

.pbox {
  border: 2px solid #000000;
  background-color: white;
  align-content: center;
  padding: 0.5rem;
  margin:0.5rem;
  border-radius: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
}

.pbox-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
  text-align: center;
}

.overlaytext {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 15px;
}

.overlaybox {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.boxer:hover .pbox {
  opacity: 0.3;
  box-shadow: 10px 15px 5px #ccc;
}

.boxer:hover .pbox-overlay {
  opacity: 1;
}

.ebox {
  background-color: #f5f5f5;
  font-family: sans-serif;
  align-content: center;
  padding: 0.5rem;
  margin:0.5rem;
}

.ebox:hover {
  box-shadow: 10px 15px 5px #ccc;
}

.work-info{
  padding: 1rem;
}

.up0{
  max-width: 99%;
  height: auto;
}

.up1{
  max-width: 68%;
  height: auto;
}

.up2{
  max-width: 93%;
  height: auto;
}

.up3{
  max-width: 80%;
  height: auto;
}

.ep0{
  max-width: 80%;
  height: auto;
}

.ep1{
  max-width: 60%;
  height: auto;
}

.ep2{
  max-width: 33%;
  height: auto;
}

.ep3{
  max-width: 32%;
  height: auto;
}

.ep4{
  max-width: 30%;
  height: auto;
}

.ep5{
  max-width: 49%;
  height: auto;
}
.work-place{
  font-weight: normal;
  font-size: 18;
}

.work-date{
  font-style: italic;
  font-weight: 100;
  color: grey;
}

.work-title{
  font-weight: Bold;
  padding-top: 0.5rem;
}

.work-description{
list-style-type: circle;
}

.button-resume     {
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 32px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button-resume:hover {
  background-color: #555555;
  color: white;
  box-shadow: 5px 5px #ccc;
}

.button-projects:hover{
  background-color: #4CAF50;
  color: white;
}

.c1{
  height: 3px;
}

.c2{
  height: 1.5px;
}

.c2{
  height: 0.75px;

}

.project-titles{
  margin-top: 2rem;
}

.force-left{
  float: left;
}

.program-skill{
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 5px;
}

.project-program{
  background-color: #ff846b;
}

.project-skills{
  background-color: #91caff;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 300px;
  height: auto;
}

.container video{
  padding-top: 1rem;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


#i1, #i2, #i3, #i4, #i5{ display: none;}

  .container-slideshow{
    margin: 0 auto;
margin-top: 20px;
position: relative;
max-width: 25%;
height: 50%;
padding-bottom: 38%;
user-select: none;
background-color: #1c1c1c;
border: solid 10px #616161;
border-radius:10px ;
  }

	.container-slideshow .slide_img{
		position: absolute;
		width: 100%;;
		height: 100%;
	}
	.container-slideshow .slide_img img{
		width: inherit;
		height: inherit;
	}

	 .prev, .next{
		width: 12%;
		height: inherit;
		position: absolute;
		top:0;
		background-color: rgba(88, 88, 88,.2);
		color:rgba(244, 244, 244,.9);
		z-index: 99;
		transition: .45s;
		cursor: pointer;
		text-align: center;
	}

	.next{right:0;}
	.prev{left:0;}

	label span{
		position: absolute;
		font-size: 100pt;
		top: 50%;
	 	transform: translateY(-50%);
	}

	.prev:hover, .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff;
	}

.container-slideshow #nav_slide{
	width: 100%;
	bottom: 12%;
	height: 11px;
	position: absolute;
	text-align: center;
	z-index: 99;
	cursor: default;
}

#nav_slide .dots{
	top: -5px;
	width: 18px;
	height: 18px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
	transition: .4s;
}

#nav_slide .dots:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.9);
	transition: .25s
}

.slide_img{z-index: -1;}

	#i1:checked ~ #one  ,
	#i2:checked ~ #two  ,
	#i3:checked ~ #three,
	#i4:checked ~ #four ,
	#i5:checked ~ #five
	{z-index: 9; animation: scroll 1s ease-in-out;}

	#i1:checked  ~  #nav_slide #dot1,
	#i2:checked  ~  #nav_slide #dot2,
	#i3:checked  ~  #nav_slide #dot3,
	#i4:checked  ~  #nav_slide #dot4,
	#i5:checked  ~  #nav_slide #dot5
	{ background-color: rgba(255,255,255,.9);}

@keyframes scroll{
	0%{	opacity:.4;}
	100%{opacity:1;}
}

@media screen and (max-width: 685px){

	label span { font-size: 50pt; }

	.prev, .next{
		width: 15%;
	}
	#nav_slide .dots{
		width: 12px;
		height: 12px;
	}
}
@media screen  and(min-width: 970px){
	.me{ display: none;}
}
